<!DOCTYPE html>
<html>
  <head>
    <title>Catguest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="main_header">
    <h1>[ HOME ]</h1>
  </div>
    <%= yield %>
  </body>
</html>
